body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, red, yellow);
  font-family: sans-serif;
}
.table-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
table {
  border-collapse: collapse;
}
td {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}